<html>
  <head><title>{% block title %}{% endblock title %} | Welcome to my entry and exit system </title>
  {% block head %}{% endblock head %}
  <link rel="stylesheet" href="/static/main1.css" type="text/css">
  <div id = "navbar">
      <a id="logo">𝓝𝓘𝓣 𝓙𝓢𝓡 </a>
      <a >HOME</a>
      <a>ABOUT US</a>
      <a>CONTACT US</a>
      <input type="text" color="black">
      <button>Search</button>
    </div>
</head>
  <body>
    <div>
   <bold><h1 style="color: black;"> NATIONAL INSTITUTE OF TECHNOLOGY JAMESHEDPUR </h1></bold><!-- <bold></center></ital></h1><br> -->
    <h1><center>Entry and Exit system</center></h1><br>
    </div>
    {% block body %}
    {% endblock body %}
  </body>
</html>