{% extends 'base.html' %}
{% block title %}update entries{% endblock title %}
{% block body %}
	<div style="text-align:center">
		<h1 style="background-color:Tomato;"><b>Entries</b></h1><br>
		<a href="ghome"><h3 style="border:2px;">Return Home</h3><br></a>
		<b>{{msg}}</b><br>
		<table border="1" width="100%">
		<tr>
			<th>Sr.No.</th>
			<th>Intime</th>
			<th>Extime</th>
			<th>Guest</th>
			<th>Purpose</th>
			<th>From</th>
		</tr>
		{% for i in res %}
		<tr>
			<td>{{i.id}}</td>
			<td>{{i.intime}}</td>
			<td><a href="update_exit?id={{i.id}}">Exit</td>
			<td>{{i.guest}}</td>
			<td>{{i.pur}}</td>
			<td>{{i.camefrom}}</td>
		</tr>
		{% endfor %}
		</table>
	</div>	
{% endblock body %}